@charset "utf-8";
.footer {
  width: 100%;
  position: relative;
  background-color: var(--footer-bg2-color);
  color: var(--text-color-fff);
}
.footer a {
  color: var(--text-color-fff);
}
.footer_top_area {
  background-color: var(--footer-bg-color);
}
.footer_menu_wrap {
  background-color: var(--footer-bg1-color);
}

.footer_top {
  width: var(--main-width);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_menu {
  display: flex;
  position: relative;
  border-left: 1px solid #fff;
}
.footer_menu > li > a {
  height: 40px;
  width: 200px;
  border-right: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer_menu .footer_list {
  position: absolute;
  line-height: 2;
  top: -70px;
  background-color: var(--footer-bg1-color);
  width: 200px;
  padding-left: 10px;
  box-sizing: border-box;
  display: none;
}
.customer_satisfaction {
  font-weight: 700;
}

.footer_menu_list {
  display: flex;
  width: var(--main-width);
  margin: 0 auto;
  height: 40px;
  align-items: center;
}
.footer_menu_list li {
  margin-inline-end: 20px;
}
.footer_menu_list li:last-child {
  margin-inline-end: 0;
}
.footer_add_area {
  width: var(--main-width);
  margin: 0 auto;
  display: flex;
  height: 120px;
  position: relative;
  padding-top: 20px;
}
.footer_logo a {
  background: var(--main-bgimg) -16px 5px;
  width: 160px;
  height: 40px;
  margin-inline-end: 20px;
  display: block;
}

.footer_add {
  line-height: 1.6;
}

.footer_icon {
  position: absolute;
  right: 0;
}
