/*
헤더
rgb(0,60,110)
*/
body {
  padding: 0;
  margin: 0;
}

header {
  background-color: rgb(3, 82, 147);
  color: white;
  display: flex;
  flex-direction: row;
  font-size: 20px;
  align-items: center;
  height: 35px;
}
nav a {
  text-decoration: none;
}
nav ul li {
  list-style: none;
}
.airEnvLevel {
  color: aqua;
  font-weight: 800;
}
.weather {
  display: flex;
}
#headerInfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
  margin-left: 150px;
}

.sun {
  height: 15px;
}

.headerNav {
  margin-left: auto;
  margin-right: 300px;
}
.headerNav ul {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.headerNav ul li {
  border-right: 1px solid white;
  padding: 10px 15px;
  font-size: 18px;
}

.headerNav ul li:last-child {
  border-right: none;
}
.headerNav a {
  color: white;
}
.pageNav {
  display: flex;
  flex-direction: row;
  margin: 10px 100px;
  align-items: center;
  justify-content: center;
  height: 100px;
}
#logo {
  height: 100px;
}
.pageNav ul {
  margin-left: 50px;
  display: flex;
  gap: 50px;
  font-size: 30px;
}
.pageNav a {
  color: black;
}
.button {
  width: 50px;
  height: 50px;
}
.buttonBox {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-left: 80px;
}
#popNav {
  background-image: url(../images/bg.jpg);
  background-size: cover;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 100px;
}
.popBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.popImg {
  width: 230px;
  height: 180px;
  margin-bottom: 0;
}
.arrow {
  display: flex;
  width: 30px;
  height: 50px;
}
.rightArrow {
  margin-left: 20px;
}
.leftArrow {
  margin-right: 20px;
}
#popDate {
  color: rgb(160, 160, 160);
  font-size: 15px;
}
.popInfo {
  margin-top: 0;
  width: 200px;
  height: 50px;
  background-color: white;
  padding: 10px 15px 50px 15px;
}
.popInfo p {
  margin: 0;
  font-size: 17px;
}

.asideBtns {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.asideBtn {
  background-color: rgb(3, 82, 147);
}
.stopBtn {
  width: 20px;
  height: 20px;
  padding: 10px;
  border-radius: 100%;
}

.seeAll {
  width: 70px;
  height: 20px;
  border-radius: 150px;
  padding: 10px 25px;
}
.wrapper {
  margin: 30px 400px;
  display: flex;
  flex-direction: row;
}
.main1 {
  width: 600px;
  margin-right: 50px;
  margin-top: 30px;
}
.mainNav {
  display: flex;
  align-items: center;
  padding: 0px;
  padding-bottom: 20px;
  border-bottom: 3px solid rgb(227, 227, 227);
}
.plus {
  margin-left: auto;
  width: 20px;
  height: 20px;
}

.mainNav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-left: 0;
  margin: 0;
}
.mainNav a {
  font-size: 18px;
  text-decoration: none;
  color: black;
  padding-bottom: 20px;
}
.mainNav a:hover {
  border-bottom: solid 3px rgb(6, 113, 201);
  color: rgb(6, 113, 201);
}

.notice {
  margin: 15px;
  display: flex;
  border-bottom: 2px solid rgb(227, 227, 227);
  padding-bottom: 20px;
}
.noticeDate {
  background-color: rgb(6, 113, 201);
  color: white;
  border-radius: 100%;
  width: 90px;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.date {
  font-size: 30px;
  display: flex;
}
.yearMonth {
  display: flex;
  font-size: 15px;
}
.noticeContents {
  margin-left: 30px;
}
.noticeContents strong {
  margin-left: -20px;
  font-size: 18px;
  font-weight: 900;
}
.mainNotice {
  padding: 0;
  margin: 0;
}
.otherNotice {
  margin-top: 20px;
}

.otherContents {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  gap: 8px;
}
.otherContents li {
  display: flex;
  list-style: circle;
  font-weight: 800;
}
.noticeContentDate {
  display: flex;
  margin-left: auto;
  color: rgb(160, 160, 160);
}
.main2 {
  border: 3px solid black;
  width: 280px;
  height: 380px;
}
.icon {
  display: flex;
  width: 55px;
  height: 60px;
}
.govern24 {
  display: flex;
  flex-direction: row;

  padding: 20px 15px;
}
.civilServiceForm {
  display: flex;
  flex-direction: row;
  padding: 20px 15px;
  margin-left: 15px;
}

.organization {
  display: flex;
  flex-direction: row;
  padding: 20px 15px;
}
.contents {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}
.main2Contents {
  margin-left: 30px;
}
.title {
  font-weight: 800;
  font-size: 17px;
  margin-bottom: 7px;
}
.main2Content {
  font-weight: 300;
}
