@charset "utf-8";

#skipMenu {
  position: absolute;
  width: 100%;
}
#skipMenu a {
  position: absolute;
  top: -100px;
}
#skipMenu a:hover,
#skipMenu a:active,
#skipMenu a:focus {
  position: absolute;
  top: 0;
  width: 100%;
  display: block;
  text-align: center;
  background-color: #222;
  color: white;
  font-size: 1.2em;
}

body {
  font-family: '돋움', Dotum, '굴림', Gulim, sans-serif;
  color: #222;
}
input {
  color: #222;
}
a:link,
a:visited {
  color: #222;
  text-decoration: none;
}
a:hover,
a:active,
a:focus {
  color: #222;
  text-decoration: underline;
}

/* 스크린 리더기에서는 읽고,
화면에서는 안보이게 설정하기  */
.blind {
  text-indent: -9999px;
  line-height: 0;
}

input[type='text'] {
  border: 1px solid black;
  background: none;
}

/* common.css */
/* 이런식으로 이용 가능하다 */
.mt5 {
  margin-top: 5px !important;
}
.mt10 {
  margin-top: 10px !important;
}
.mr5 {
  margin-right: 5px !important;
}
.pt5 {
  padding-top: 5px !important;
}

.wrapper *:focus-visible .wrapper *:focus {
  outline: 2px dotted #f60;
  border-radius: 1px;
}
